* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

ul {
  overflow: hidden;
  perspective: 900px;
  list-style: none;
  height: 400px;
  text-align: center;
}

li {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(70vh);
  font-family: sans-serif;
  font-weight: bold;
  animation: 5.33333s spiral-staircase linear infinite;
  color: red;
}

li:nth-child(1) {
  animation-delay: 0.33333s;
}

li:nth-child(2) {
  animation-delay: 0.66667s;
}

li:nth-child(3) {
  animation-delay: 1s;
}

li:nth-child(4) {
  animation-delay: 1.33333s;
}

li:nth-child(5) {
  animation-delay: 1.66667s;
}

li:nth-child(6) {
  animation-delay: 2s;
}

li:nth-child(7) {
  animation-delay: 2.33333s;
}

li:nth-child(8) {
  animation-delay: 2.66667s;
}

li:nth-child(9) {
  animation-delay: 3s;
}

li:nth-child(10) {
  animation-delay: 3.33333s;
}

li:nth-child(11) {
  animation-delay: 3.66667s;
}

li:nth-child(12) {
  animation-delay: 4s;
}

li:nth-child(13) {
  animation-delay: 4.33333s;
}

li:nth-child(14) {
  animation-delay: 4.66667s;
}

li:nth-child(15) {
  animation-delay: 5s;
}

li:nth-child(16) {
  animation-delay: 5.33333s;
}

@keyframes spiral-staircase {
  0% {
    transform: rotateY(90deg) translateY(70vh);
  }
  50% {
    transform: rotateY(0deg) translateY(35vh);
  }
  100% {
    transform: rotateY(-90deg) translateY(0vh);
  }
}
